html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#main-nav {
  background: #618685 !important;
}

.navbar-left-side-main {
  color: white;
  font-size: 25px;
  margin-left: 0.9%;
  margin-right: 0.6%;
  margin-top: 0.6%;
  margin-bottom: 0.6%;
}

.navbar-left-side, .span {
  color: white;
  font-size: 20px;
  margin-left: 30px;
}

.navbar-left-side-main:hover, .navbar-left-side:hover, .span:hover {
  color: white;
  text-decoration: none;
}

.more-details {
  color: white;
}

#sidebar a:hover, .more-details:hover {
  color: white;
  text-decoration: none;
}