html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.App {
  text-align: center;
}

#main-nav {
  background: #618685 !important;
}

.navbar-left-side-main {
  color: white;
  font-size: 25px;
  margin-left: 0.9%;
  margin-right: 0.6%;
  margin-top: 0.6%;
  margin-bottom: 0.6%;
}

.navbar-left-side, .span {
  color: white;
  font-size: 20px;
  margin-left: 30px;
}

.navbar-left-side-main:hover, .navbar-left-side:hover, .span:hover {
  color: white;
  text-decoration: none;
}

.more-details {
  color: white;
}

#sidebar a:hover, .more-details:hover {
  color: white;
  text-decoration: none;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 20px !important;
  color: white !important;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
  padding: 0px;
  margin: 0px;
}

.testing {
  color: #618685;
  margin-left: 15px;
  font-weight: 500;
}

.testing:hover {
  color: #618685 !important;
}